/* Font styling*/
h1, h2, h3{
    font-family: 'Univers Next Pro', sans-serif;
    font-size: larger !important;
}

h4, h5, h6, p{
    font-family: 'Roboto', sans-serif;
    font-size: medium !important;
}

button, a, input, i{
    font-family: Arial, Helvetica, sans-serif;
}
/* End font styling*/

.landing-section{
    width: 100% !important;
}

.hero-img-container, #rohin-art-work-container{
    display: grid !important;
}

.hero-img-container .mask, #homepage-hero-img{
    grid-column: 1 !important;
    grid-row: 1 !important;
}

#homepage-hero-img{
    background-image: url('resources/hero-page-gif.gif') !important;
    background-size: cover !important;
    height: 80% !important;
    min-height: 550px !important;
    max-height: 1000px !important;
    
    display: block !important;
    z-index: -1 !important;
}

.text-white h1{
    font-weight: bold !important;
    color: #c2de80 !important;
}

.hero-img-container .mask{
    z-index: 0 !important;

    background-color: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(4.5px) !important;
    -webkit-backdrop-filter: blur(4.5px) !important;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.01) !important;

    border: none !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 50px !important;

    text-align: center !important;

    transition: .82s ease-in-out !important;
}

#hero-txt-subst{
    padding: 0 20% !important;
    cursor: pointer !important;
}

.hero-img-container .mask:hover, .hero-img-container .mask:focus, .hero-img-container .mask:active{
    background-color: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(18px) !important;
    -webkit-backdrop-filter: blur(18px) !important;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.02) !important;
}

.text-white a{
    border-radius: 20px !important;
    padding: 2px 30px !important;
    border: solid white !important;
    border-width: 1px !important;

    transition: .25s ease-in-out !important;
}

.text-white a div{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    text-align: center !important;
}

.text-white a div i{
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
    font-style: normal !important;
}

.text-white a:hover, .text-white a:focus, .text-white a:active{
    background-color: #e0eebf !important;
    border: solid #e0eebf !important;
    border-width: 1px !important;

    color: #3D3935 !important;
}


/*Nav section*/
.nav-section{
    margin-top: 60px !important;
    display: flex !important;
    flex-direction: column !important;
    
    align-items: center !important;
    justify-content: center !important;
    padding: 0 50px !important;
}
.tri-nav-icons{
    display: grid !important;
    /*grid-template-columns: auto auto auto !important;
    grid-gap: 85px !important;*/

    --spacer: 2rem;
    padding: 10px var(--spacer) var(--spacer);
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 29.5%;

    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    height: max-content;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-container{
    /*display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;*/
    display: flex;
    /*padding: 20px;*/
    padding: 10px !important;
    align-items: center !important;

    border: solid transparent;
    /*border-radius: 20px !important;*/
    border-radius: 50px 0px 0px 50px !important;
    border-width: .95px !important;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px !important;
    
    background-color: white;
    color: #3D3935;
    cursor: pointer !important;
}

.nav-container div:nth-child(1){
    flex: 1 !important;
}
.nav-container div:nth-child(2){
    flex: 2 !important;
    margin-left: 1% !important;
    text-align: left !important;
    padding: 2px !important;
}


.nav-container div img{
    max-height: 50px;
    min-height: 48px;
    width: auto;
    aspect-ratio: 1/1 !important;
}

.nav-container h6{
    font-size: large !important;
}

.nav-container:hover, .nav-container:active, .nav-container:focus{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px !important;
    border: solid #84BD00;
}

.nav-container span, .nav-container h6{
    color: #3D3935;
}

.nav-container span{
    font-size: 100px !important;
    font-weight: 100 !important;
    height: auto !important;
}

/*.nav-container:hover > h6, .nav-container:hover > span, .nav-container:hover > .nav-container div:nth-child(1) h6{
    color: #a2cd40;
}*/

.nav-container:hover > *{
    color: #a2cd40;
}

.nav-section-container{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    max-width: 1080px !important;
}

.extra-service-offer-container{
    cursor: pointer !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px !important;
    border: solid transparent !important;
    border-radius: 20px !important;
    padding: 10px 0px !important;

    background-color: white !important;
}

.text-offer-section{
    width: 30% !important;
    color: #3D3935 !important;

    padding: 15px !important;
}

.text-offer-section h6{
    font-weight: lighter !important;
}

#contact-us-btn{
    background-color: #a2cd40 !important;
    border: solid transparent !important;
    border-radius: 20px !important;
    padding: 5px 20px !important;
    border-width: 3px !important;
}

#contact-us-btn:hover, #contact-us-btn:active, #contact-us-btn:focus{
    border: solid #c2de80 !important;
    border-width: 3px !important;
    background-color: #84BD00 !important;
}

.service-div-container{
    display: grid !important;
    grid-template-columns: auto auto auto !important;
    grid-gap: 15px !important;

    margin-left: 30px !important;
    padding: 10px !important;
    width: 75% !important;
    height: min-content !important;
    overflow-y: scroll !important;
}

.service-div{
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;


    padding: 20px 10px !important;
    width: 100% !important;
    color: #3D3935 !important;

    border: solid #84BD00 !important;
    border-radius: 20px !important;
    border-width: .9px !important;
}

.service-div:hover, .service-div:focus, .service-div:active{
    border: solid  #E9E9E9 !important;
    border-radius: 20px !important;
    border-width: .9px !important;
    background-color: #e0eebf !important;
    transition: .85s ease-in-out !important;
}

.service-div:hover > .material-symbols-outlined, .service-div:focus > .material-symbols-outlined, .service-div:active > .material-symbols-outlined{
    color: #3D3935 !important;
    transition: .85s ease-in-out !important;
}

.service-div span{
    grid-row: unset !important;
    color: #84BD00 !important;
    font-size: 40px !important;
    font-weight: lighter !important;
}

.service-div div{
    grid-row: unset !important;
    margin-left: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    
    width: 80% !important;
}

.service-div div h6{
    transform: translateY(50%) !important;
}

.service-nav-btn{
    text-decoration: none !important;
    color: transparent !important;
}


/*Spacer styling*/
.green-hz-spacer{
    height: 80px !important;
    background-color: #a2cd40 !important;
    margin: 80px 0px !important;
}
/*End of Spacer styling*/

/*Additional info section styling*/
.additional-info-container{
    /*display: grid !important;
    grid-gap: 0px 45px !important;*/
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
}

.additional-info-container img{
    transition: .85s ease-in-out !important;
}

.additional-info-container .hz-img-captio{
    transition: 3s step-end !important;
}

.img-container{
    overflow: hidden !important;
}

.hz-img-caption{
    width: 50% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;

    z-index: -1 !important;
    cursor: pointer !important;
}

.hz-img-caption h6{
    font-weight: lighter !important;
}

#orange-man-img-container, #pfm-logo-img-container{
    margin-right: 80px !important;
}

img{
    max-width: 100% !important;
}

#pfm-logo-img-container{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: -1 !important;
}

#rohin-art-work-container img, .img-container .mask{
    grid-area: 1 / 1 !important;
}

#rohin-art-work-container .mask{
    z-index: 2 !important;
    display: grid !important;
    align-items: center !important;
    justify-self: center !important;
    text-align: center !important;

    transition: 1s ease-in-out !important;
    padding: 0 20% !important;
    cursor: pointer !important;
}

#rohin-art-work-container h6{
    transition: .45s ease-in-out !important;
    color: white !important;
    font-weight: bold !important;
}

#rohin-art-work-container h6{
    opacity: 0 !important;
}

#rohin-art-work-container .mask:hover, #rohin-art-work-container .mask:focus, #rohin-art-work-container .mask:active{
    background-color: rgba(0, 0, 0, 0.15) !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.02) !important;
}

#rohin-art-work-container .mask:hover > h6, #rohin-art-work-container .mask:focus > h6, #rohin-art-work-container .mask:active > h6{
    opacity: 1 !important;
}

#rohin-art-work-container img{
    z-index: -1 !important;
}
/*End of additional info section*/


/*Web page animation*/
.hidden{
    opacity: 0;
    transition: 1.05s ease-in-out;
    filter: blur(5px);
    transform: translateX(-100%);
}

.right.hidden{
    transform: translateX(100%);
}

.fade.hidden{
    transform: translateX(0);
    transform: translateY(0);
    transition: 1.5s ease-in-out;
    transform: translateZ(-100%);
}

.top.hidden{
    transform: translateX(0);
    transform: translateY(-20%);
}

.show{
    transition: 1.05s ease-in-out;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.right.show{
    transform: translateX(0);
}

.top.show{
    transform: translateY(0);
}

.fade.show{
    transform: translateX(0);
    transform: translateY(0);
    transform: translateZ(0);
}

.paragraph-letter:hover{
    color: #84BD00;
}


#orange-man-img-container img:hover{
    transform: scale(1.4) !important;
}

@media(prefers-reduced-motions){
    .hidden{
        transition: none !important;
    }
}
/*End of animation styling*/