:root{
    --clr-programmed-light-grey: #E9E9E9 !important;
    --clr-programmed-charcoal-400: #3D3935 !important;
    --clr-pfm-light-grey-400: #E9E9E9 !important;
    --clr-green-primary-400: #84BD00 !important;
    --clr-green-primary-300: #a2cd40 !important;
    --clr-green-primary-200: #c2de80 !important;
    --clr-green-primary-100: #e0eebf !important;
    --clr-dark-green: #315F35 !important;
    --clr-safety-orange: #F57F25 !important;

    --ff-univers-pro: 'Univers Next Pro', sans-serif !important;
    --ff-roboto: 'Roboto', sans-serif !important;

    --border-solid-primary: solid var(--clr-green-primary-400) !important;
    --border-solid-primary-300: solid var(--clr-green-primary-300) !important;
    --border-solid-primary-200: solid var(--clr-green-primary-200) !important;
    --border-solid-dark-green: solid var(--clr-dark-green) !important;
    --border-solid-charcoal: solid var(--clr-programmed-charcoal-400) !important;

    --grid-row-four-per-row: 1fr 1fr 1fr 1fr !important;
    --grid-row-three-per-row: 1fr 1fr 1fr !important;
    --grid-row-two-per-row: 1fr 1fr !important;
    --grid-row-one-per-row: 1fr !important;

    --flip-hrzly: rotate(180deg) !important;   
}

.flip-hrzly{
    transform: var(--flip-hrzly) !important;
}

html,body{ scroll-behavior: smooth !important}
/* Font styling*/
h1, h2, h3{
    font-family: var(--ff-univers-pro) !important;
    color: var(--clr-programmed-charcoal-400) !important;
}

h1{
    font-size: x-large;
}

h2, h3{
    font-size: larger;
}

h4, h5, h6, p{
    font-family: var(--ff-roboto);
    font-size: medium;
    color: var(--clr-programmed-charcoal-400) !important;
}

button, a, input, i{
    font-family: Arial, Helvetica, sans-serif !important;
}
/* End font styling*/

body{
    width: 100vw !important;
    background-color: white !important;
}

section{
    margin-bottom: 50px !important;
}

/*Web page animation*/
.hidden{
    opacity: 0;
    transition: 1.05s ease-in-out;
    filter: blur(5px);
    transform: translateX(-100%);
}

.right.hidden{
    transform: translateX(100%);
}

.fade.hidden{
    transform: translateX(0);
    transform: translateY(0);
    transition: 1.5s ease-in-out;
    transform: translateZ(-100%);
}

.top.hidden{
    transform: translateX(0);
    transform: translateY(-20%);
}

.bottom.hidden{
    transform: translateX(0);
    transform: translateY(40%);
}

.show{
    transition: 1.05s ease-in-out;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.right.show{
    transform: translateX(0);
}

.top.show, .bottom.show{
    transform: translateY(0);
}

.fade.show{
    transform: translateX(0);
    transform: translateY(0);
    transform: translateZ(0);
}

@media(prefers-reduced-motions){
    .hidden{
        transition: none !important;
    }
}
/*End of animation styling*/


/*Loading spinner*/
.loading-spinner{
    width: 100vw !important;
    height: 100vh !important;

    z-index: 11 !important;
}

.loading-spinner div{
    justify-content: center !important;
    align-items: center !important;

    transform: translateY(50%) !important;
}

.loading-spinner div img{
    max-width: 100% !important;
}

.loading-spinner div div span{
    color: var(--clr-green-primary-400) !important;
}

.loading-spinner div h6{
    color: #3D3935 !important;
    text-align: center !important;
}


/*PFM button styling*/
#explore-menu-btn, .btn.btn-primary{
    background-color: var(--clr-green-primary-300) !important;
    border: solid transparent !important;
    border-radius: 20px !important;
    padding: 5px 20px;
    border-width: 3px !important;
}

#explore-menu-btn:hover, #explore-menu-btn:active, #explore-menu-btn:focus,
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
    border: var(--border-solid-primary-200) !important;
    border-width: 3px !important;
    background-color: var(--clr-green-primary-400) !important;
}


/*Thumbnail img cover*/
.menu-offer-section:nth-child(1){
    display: grid !important;
    justify-content: center !important;
    align-items: baseline !important;
}

.weekly-menu-hero-container{
    grid-area: 1 / 1 !important;
    display: grid !important;
    grid-template-columns: 50% 45% 5%;
    width: 100% !important;
    background-color: #eef7de !important;
    padding: 40px !important;
    grid-gap: 5px !important;
}

.notice-container{
    background-color: white !important;
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: left !important;
    padding: 10px !important;

    color: var(--clr-programmed-charcoal-400) !important;
}

.notice-container div li{
    font-weight: lighter !important;
}

.notice-container hr{
    background-color: var(--clr-green-primary-400) !important;
    opacity: 1 !important;
    height: 5px !important;
}

.weekly-menu-hero-img img, .notice-container div img{
    max-width: 100% !important;
}

.weekly-menu-hero-title{
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    text-align: left !important;

    padding: 10% 20% !important;
    height: 100% !important;
    max-height: 100% !important;

    color: var(--clr-dark-green) !important;
}

.weekly-menu-hero-title h1{
    font-weight: 300 !important;
    font-size: xx-large !important;
}

.hero-section-action-btn-container{
    position: relative !important;
    width: max-content !important;

    display: grid !important;
    grid-template-columns: 45% 45% !important;
    align-items: center !important;
    justify-content: center !important;
    grid-gap: 30px !important;
}

.hero-section-action-btn-container a{
    max-width: 150px !important;
    min-width: 110px !important;
}

.hero-section-action-btn-container a div{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;

    background-color: transparent;
    border: var(--border-solid-primary);
    border-width: 3px !important;
    border-radius: 5px !important;

    padding: 10px 30px !important;
}

.hero-section-action-btn-container a div:hover{
    background-color: var(--clr-green-primary-200);
    border: var(--border-solid-dark-green) !important;
}

.hero-section-action-btn-container a div h5, .hero-section-action-btn-container a div h6{
    color: var(--clr-dark-green) !important;
}

.hero-section-action-btn-container a div h6{
    font-weight: 300 !important;
    font-size: x-small !important;
}

.notice-container div, .notice-container span{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.notice-container div{
    grid-gap: 5em !important;
    text-align: left !important;
    
    padding: 3px 6px !important;
}

.notice-container div h6{
    font-weight: lighter !important;
    font-size: small !important;
    margin-left: 3px !important;
}


.menu-offer-section{
    cursor: pointer !important;
}

.menu-offer-section .menu-grid-display, .loading-spinner div, .notice-container{
    display: grid !important;
}

.menu-desc, .background-img-container{
    grid-area: 1 / 1;
}

.menu-desc{
    margin-top: 14px !important;
    width: 45% !important;
    z-index: 10 !important;
    /*background-color: rgba(255,255,255,0.2) !important;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;*/

    padding: 20px 0px 20px 80px !important;
    color: var(--clr-programmed-charcoal-400) !important;
    text-align: left !important;
}

.background-img-container{
    z-index: 0 !important;
}

.background-img-container{
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: flex-start;
}

.background-img-container img{
    max-width: 85% !important;
    transform: translateX(45%);
    opacity: 0.95 !important;
    transition: .5s ease-in-out !important;
}

.background-img-container:hover > .background-img-container img{
    opacity: 1;
}

.menu-desc h1{
    font-size: 5em;
    line-height: 1.1em;
}

.menu-desc h6{
    padding: 0px 10px;
    font-style: italic;
    line-height: 1.9em;
    font-size: 0.85em;
    font-weight: lighter;
}

.menu-desc span, .special-txt{
    color: var(--clr-green-primary-400);
}

.menu-desc h6 span{
    font-weight: normal;
}

.hz-separating-line, .notice-container hr{
    height: 10px;
    color: var(--clr-green-primary-400) !important;
    background-color: var(--clr-green-primary-400) !important;

    border: none;
    border-radius: 20px;
}

.hz-separating-line{
    width: 100%;
    transform: translateX(30%);
    margin: 80px 0px 10px 0px;
}

.notice-container hr{
    width: 70% !important;
}


/*Advertised content styling*/
.advertised-content-container, .advertised-content-container-header, .advertised-content-container-header span{
    align-items: center !important;
    justify-content: center !important;
    position: relative !important;
    color: var(--clr-programmed-charcoal-400) !important;
}

.menu-offer-section.advertised{
    display: grid !important;    
}

.advertised-content-container-header, .advertised-content-container{
    display: flex !important;
    flex-direction: column !important;
}

.menu-offer-section.advertised .main-content, .decorative-box{
    position: relative !important;
    grid-area: 1 / 1 !important;
}

.decorative-box{
    background-color: var(--clr-green-primary-100) !important;
    width: 48%;
    height: 85%;
    z-index: 0 !important;
    margin-top: 10% !important;
    opacity: .5 !important;
}

.advertised-content-container-header{
    width: 65% !important;
    padding: 3rem !important;

    display: grid !important;
    grid-template-columns: var(--grid-row-two-per-row) !important;
    gap: 3rem !important;
}

.header-text-container{
    position: relative !important;
    display: grid !important;
    grid-template-columns: 1% 98%;
    grid-gap: .8rem !important;
    z-index: 2 !important;
}

.advertised-content-container-header .header-text-container h1{
    font-weight: bold !important;
}

.advertised-content-container-header .header-text-container h4, .advertised-content-container-header .header-text-container h5{
    font-weight: lighter !important;
}

.vertical-line{
    /*position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;*/
    border-left: 3px solid var(--clr-green-primary-300) !important;
    height: 60% !important;
    transform: translateY(25%);
}

.advertised-content{
    position: relative !important;
}

.advertised-content-body{
    position: relative !important;
}

.advertised-content{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 2;
}

.advertised-content .spacer{
    width: 40% !important;
}

.advertised-content .img-caption{
    text-align: center !important;
    padding: 4rem !important;
    font-weight: lighter !important;
}

.advertised-content .img-caption p{
    line-height: 2em !important;
    max-width: 800px !important;
}

.advertised-content .img-caption p span{
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-decoration-color: var(--clr-green-primary-400) !important;
}

.advertised-content .img-container img{
    max-width: 100% !important;
    aspect-ratio: 1 / 1 !important;
    transform: scale(1.1) !important;
}

.advertised-content .img-container{
    transform: translate(-10%, 10%) !important;
}
/*End of advertised content styling*/

/*Regular menu display section*/
.quick-menu-display{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    max-width: 1280px !important;

    /*margin-bottom: 100px;*/
}

.menu-offer-section.regular-menu{
    margin-top: 60px !important;
    display: flex !important;
    flex-direction: column !important;
    
    align-items: center !important;
    justify-content: center !important;
    padding: 0 50px !important;
}

.quick-menu-display h1{
    text-align: center;
}

.menu-desc-text{
    text-align: center;
    width: 70%;
    font-style: italic;
    color: var(--clr-programmed-charcoal-400);
}

.menu-item-container{
    display: grid !important;
    --spacer: 1rem !important;
    padding: 10px var(--spacer) var(--spacer) !important;
    gap: var(--spacer) !important;
    grid-auto-flow: column !important;
    grid-auto-columns: 24.15%;

    overflow-x: scroll !important;
    overflow-y: hidden !important;
    overscroll-behavior-inline: contain !important;
    height: max-content !important;
    padding-bottom: 50px;

    z-index: 2 !important;
}

.snap-inline{
    scroll-snap-type: inline mandatory !important;
    scroll-padding-inline: var(--spacer, 1rem);
}

.snap-inline > *{
    scroll-snap-align: start;
}

.item-container{
    padding: 0px 0px 10px 0px !important;
    background: var(--surface-2) !important;
    display: grid !important;
    gap: var(--size-2) !important;
    border: none !important;
    border-radius: 20px 0px 20px 20px !important;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    background-color: white;
    /*background-image: linear-gradient(135deg, #e0eebf, #c2de80, #a2cd40 2%, #c2de80, #e0eebf, white 55%, white) !important;*/
    
    transition: .5s ease-in-out !important;
    overflow: hidden !important;
}

.item-input-container{
    margin: 20px 0px 10px 0px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.item-input-container div{
    margin: 0px 5%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.item-input-container div i{
    margin-top: 4px;
    color: red;
    font-size: 0.75em;
    font-weight: lighter !important;
    opacity: 0.8 !important;
}

.item-input-container input:active, .item-input-container input:focus, .item-input-container input::after{
    border: var(--border-solid-primary);
}

.item-input-container input:hover{
    border: var(--border-solid-primary-300);
}

.item-input-container input{
    width: 90% !important;
    padding-left: 12px;
    box-shadow: none !important;
    outline: none !important;

    border: solid #E9E9E9;
    border-width: .6 !important;
    border-radius: 12.5px !important;

    font-size: 0.95em;
    background-color: white;
    color: #3D3935;
}

.item-container:hover{
    box-shadow: rgba(99, 99, 99, 0.25) 2px 4px 10px 4px;
    /*background-image: linear-gradient(135deg, #e0eebf, white, white 90%) !important;*/
}

.item-container:hover > .item-img-container img{
    transform: scale(1.1);
    border: none;
    border-radius: 20px 0px 0px 0px !important;
}

.item-container:hover > .menu-item-title{
    text-decoration: underline;
}

.item-img-container{
    overflow: hidden !important;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px !important;
}

.item-img-container, .item-img-container img{
    max-width: 100%;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 20px 0px 0px 0px;
}

.item-img-container img{
    max-width: 100%;

    object-fit: cover;
    transition: .5s ease-in-out;
}

.menu-item-desc{
    padding: 5px 15px;
}

.menu-item-desc h6, .popup-content.item-info-popup-content h6{
    color: var(--clr-programmed-charcoal-400) !important;
    font-size: 0.95em;
    font-weight: lighter !important;
}

.menu-item-title, #menu-item-title{
    font-weight: bold !important;
}

.item-container button{
    font-size: 0.8em;
    margin: 20px 15%;
    align-items: center !important;
    justify-content: center !important;
    height: 2.4rem;
}

/*Swiping nav*/
.card-menu-swipe-btn{
    background-color: transparent !important;
    border: none !important;
}

.card-menu-swipe-btn span{
    color: var(--clr-programmed-charcoal-400);
    font-weight: bolder;
}

.card-menu-swipe-btn[disabled] span{
    color: var(--clr-programmed-light-grey);
}

.card-menu-swipe-btn:not([disabled]):hover > *{
    color: var(--clr-green-primary-300);
}
.card-menu-swipe-btn:not([disabled]):active > *, .card-menu-swipe-btn:focus > *{
    color: var(--clr-green-primary-400);
}

.quick-menu-display a h5{
    text-decoration: underline !important;
}

.quick-menu-display a:hover > *{
    color: var(--clr-green-primary-200) !important;
}

.quick-menu-display a:active > *, .quick-menu-display a:focus > *{
    color: var(--clr-green-primary-300) !important;
}

.material-symbols-outlined.pfm-yellow{
    color: var(--clr-safety-orange) !important;
}

/*Dropdown*/
.dropdown, .dropdown-menu{
    transition: 0s ease-in-out !important;
}

.dropdown-menu{
    background-color: rgba(255,255,255,0.2) !important;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06) !important;

    border: solid #E9E9E9 !important;
    border-width: .2px !important;
}

.item-container .dropdown-menu{
    border-radius: 12.5px 0 12.5px 12.5px !important;
}

#info-icon{
    font-weight: bold !important;
    color: var(--clr-programmed-charcoal-400);
    opacity: .8 !important;
}

#info-icon:hover{
    color: var(--clr-green-primary-300);
}

#info-icon:focus, #info-icon:active, #info-icon::after{
    color: var(--clr-pfm-light-grey-400) !important;
}

.popup-content.item-info-popup-content{
    color: var(--clr-programmed-charcoal-400) !important;
    padding: 4px 12px !important;
}

.input-err-msg{
    color: transparent;
}

/*In page nav menu*/
.in-page-top-nav-menu{
    display: grid !important;
    grid-template-columns: 4% 92% 4%;
    padding: 0 30px !important;
    gap: 10px !important;
    overflow-x: auto !important;
}

.in-page-nav-menu{
    display: flex !important;
}

.in-page-top-nav-menu, .in-page-nav-menu{
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
}

.in-page-top-nav-menu-container{
    display: grid !important;
    --spacer: 1rem !important;
    padding: 10px var(--spacer) var(--spacer) !important;
    gap: var(--spacer) !important;
    grid-auto-flow: column !important;
    grid-auto-columns: 16%;

    overflow-x: auto !important;
}

.in-page-top-nav-menu-container a{
    margin: auto !important;
}

.in-page-top-nav-menu-container a div img{
    max-width: 4.5rem !important;
}
.material-symbols-outlined{
    color: var(--clr-programmed-charcoal-400);
}

.material-symbols-outlined:hover{
    color: var(--clr-green-primary-400);
}

.material-symbols-outlined:active{
    color: var(--clr-green-primary-200);
}

.in-page-top-nav-menu-container a div h6{
    font-size: xx-small !important;
    font-weight: lighter !important;
    padding: .5rem 0 0 0 !important;
    text-align: center !important;

    width: 15ch !important;
}

.in-page-top-nav-menu-container a div, .in-page-nav-menu-container a div{
    display: flex !important;
    
    align-items: center !important;
    justify-content: flex-start !important;
}

.in-page-top-nav-menu-container a div{
    flex-direction: column !important;
}

.in-page-nav-menu-container{
    position: relative !important;

    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
    grid-row-gap: 3rem !important;
    
    grid-template-columns: var(--grid-row-three-per-row) !important;
    grid-auto-rows: 1fr !important;
    padding: 30px 10px !important;

}

.in-page-nav-menu-container a{
    text-decoration: none !important;
    margin: 0 5vw !important;
}

.in-page-nav-menu-container a div{
    flex-direction: row !important;
    padding: 5px 15px !important;
    
    text-align: left !important;
}

.in-page-nav-menu-container a div img{
    width: 100% !important;
    max-width: 80px !important;
    min-width: 80px !important;
    aspect-ratio: 1/1 !important;
}

.in-page-nav-menu-container a div h6, .in-page-top-nav-menu-container a div h6, .in-page-top-nav-menu-container,
.in-page-top-nav-menu-container a{
    text-decoration: none !important;
    color: var(--clr-programmed-charcoal-400) !important;
}

.in-page-nav-menu-container a div h6{
    font-size: medium !important;
    padding-left: 15px !important;
}

.in-page-nav-menu-container a div:hover > *, .in-page-top-nav-menu-container a div:hover > *{
    text-decoration: underline !important;
    color: var(--clr-green-primary-400) !important;
}


/*Shopping cart button*/
.cart-btn-container{
    position: fixed !important;
    bottom: 1.5vh;
    left: 1.5vw;
    cursor: grab !important;

    display: grid !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 10 !important;
}

.cart-btn-container button{
    grid-area: 1/1 !important;

    padding: 10px !important;
    border: var(--border-solid-primary) !important;
    border-width: 3px !important;
    border-radius: 50% !important;

    background-color: var(--clr-green-primary-400);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.cart-btn-container button span{
    font-size: xx-large !important;
    font-weight: bold !important;
    color: white;
}

.cart-btn-container button:hover{
    border: var(--border-solid-primary-200) !important;
}

.cart-btn-container button:hover > span{
    color: var(--clr-programmed-charcoal-400);
}

.cart-btn-container button:focus, .cart-btn-container button:active{
    border: var(--border-solid-primary-300) !important;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 24px, rgba(17, 17, 26, 0.05) 0px 16px 56px;
}

.cart-btn-container h6{
    grid-area: 1/1 !important;
    padding: 10px !important;
    width: 30px !important;
    height: 30px !important;

    background-color: red !important;
    color: white !important;
    border: none !important;
    border-radius: 50% !important;

    z-index: 11 !important;

    transform: translate(130%, -60%) !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;

    font-size: 0.8em !important;
    cursor: pointer !important;
}


/* styling for grid on mobile */
@media (max-width: 780px) {
    body{
        overflow-x: hidden !important;
    }

    button{
        font-size: x-small !important;
    }
    /*Weekly menu section*/
    .weekly-menu-hero-container{
        grid-template-columns: 50% 50%;
        width: 100% !important;
        padding: 2px !important;
    }

    .hero-section-action-btn-container{
        grid-template-columns: 100% !important;
        grid-gap: 15px !important;
    }

    .hero-section-action-btn-container a{
        max-width: 110px !important;
        min-width: 110px !important;
    }

    .hero-section-action-btn-container a div{
        border-width: 2px !important;
        padding: 10px 15px !important;
    }

    .hero-section-action-btn-container a div h5{
        font-size: medium !important;
    }

    .hero-section-action-btn-container a div h6{
        font-size: small !important;
    }

    .notice-container div{
        flex-direction: column !important;
        grid-gap: 1rem !important;
    }

    .notice-container div li{
        font-size: smaller !important;
    }

    .background-img-container{
        overflow: visible !important;
    }
    .background-img-container img{
        max-width: 100% !important;
        
        transform: translate(30% , 10vw);
        opacity: 1 !important;
    }

    .menu-desc{
        transform: translateX(5%);
        width: 60% !important;
        padding: 24px !important;
        background-color: rgba(255,255,255,0.2) !important;
        backdrop-filter: blur(8px) !important;
        -webkit-backdrop-filter: blur(8px) !important;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08) !important;

        border: solid none !important;
        border-radius: 16px;
    }

    .menu-desc h1{
        font-size: 2.2em !important;
    }
    
    .menu-desc h6{
        padding: 0px 5px;
        line-height: 1.3em;
        font-size: 0.55em !important;
    }
    
    .menu-desc h6 span{
        font-weight: normal !important;
    }


    /*Advertised content styling*/
    .decorative-box{
        background-color: var(--clr-green-primary-100) !important;
        width: 56%;
        height: 90%;
        z-index: 0 !important;
        margin-top: 10% !important;
        opacity: .5 !important;
    }

    .advertised-content-container-header{
        display: grid !important;
        grid-template-columns: var(--grid-row-two-per-row) !important;
        gap: 2rem !important;

        padding: 10% !important;
    }

    .advertised-content{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        z-index: 2;
    }

    .advertised-content .spacer{
        width: 0 !important;
    }

    .advertised-content .img-caption{
        text-align: center !important;
        padding: 4rem !important;
        font-weight: lighter !important;
        width: 95% !important;
    }

    .advertised-content .img-caption p{
        line-height: 1.5em !important;
    }

    .advertised-content .img-container img{
        transform: scale(1) !important;
    }

    .advertised-content .img-container{
        transform: translate(0) !important;
    }
    /*End of advertised content styling*/


    /*Card views*/
    .menu-item-container{
        grid-auto-columns: 32% !important;
        --spacer: .5rem !important;
        padding: 5px var(--spacer) var(--spacer) !important;
        gap: var(--spacer) !important;
        padding-bottom: 30px !important;
    }

    .menu-offer-section.regular-menu{
        margin-top: 40px !important;
        padding: 0 5px !important;
    }

    .item-input-container div{
        margin: 0px 5px !important;
    }

    .item-input-container div i{
        margin-top: 2px !important;
        font-size: 0.5em;
    }

    .item-input-container input{
        width: 95% !important;
        padding-left: 6px;
        border-radius: 10px !important;
    
        font-size: 0.6em;
    }

    .menu-desc-text h1{
        font-size: medium !important;
    }

    .menu-desc-text h6{
        width: 100% !important;
        font-size: x-small !important;
        padding: 0 !important;
    }

    .menu-item-desc{
        padding: 2px 10px !important;
    }
    
    .menu-item-desc h6, .popup-content.item-info-popup-content h6{
        font-size: 0.6em !important;
    }
    
    .menu-item-title, #menu-item-title{
        font-size: x-small !important;
    }
    
    .item-container button{
        font-size: 0.6em !important;
        margin: 5px 12% !important;
        height: 2rem;
    }

    .quick-menu-display a h5{
        font-size: x-small !important;
    }

    /*Card thumbnail image*/
    .item-img-container{
        margin: 5px !important;
    }

    /*Info icon popup*/
    #info-icon{
        font-size: 1em !important;
    }

    /*In page nav menu*/
    .in-page-top-nav-menu-container{
        grid-auto-columns: 24% !important;
    }

    .in-page-top-nav-menu-container a div img{
        max-width: 3rem !important;
    }

    .in-page-top-nav-menu-container a div h6{
        max-width: unset !important;
        width: unset !important;
    }

    .in-page-nav-menu-container{
        width: 98% !important;
        grid-template-columns: var(--grid-row-two-per-row) !important;
        height: max-content !important;
        grid-row-gap: 10px !important;
    }

    .in-page-nav-menu-container a div{
        text-align: left !important;
        justify-content: flex-start !important;
        padding: 0 5% !important;
    }

    .in-page-nav-menu-container a div img{
        max-width: 65px !important;
        min-width: 65px !important;
    }

    .in-page-nav-menu-container a div h6{
        font-size: small !important;
    }


    /*Shopping cart button*/
    .cart-btn-container button{
        padding: 8px !important;
    }

    .cart-btn-container button span{
        font-size: x-large !important;
    }

    .cart-btn-container h6{
        padding: 8px !important;
        width: 25px !important;
        height: 25px !important;

        transform: translate(120%, -50%) !important;
        font-size: 0.55em !important;
    }
  }


  @media (max-width: 450px) {
    /*Weekly menu section*/
    .weekly-menu-hero-container{
        grid-template-columns: 35% 65%;
        width: 100% !important;
        padding: 2px !important;
    }

    .weekly-menu-hero-title h1{
        font-size: large !important;
    }

    .weekly-menu-hero-title{
        padding: 10% 5% !important;
    }

    .weekly-menu-hero-img img{
        aspect-ratio: 1 / 1 !important;
        transform: translate(10%) !important;
    }

    .hero-section-action-btn-container a{
        max-width: 90px !important;
        min-width: 90px !important;
    }

    .hero-section-action-btn-container a div{
        padding: 2px 10px !important;
    }

    .hero-section-action-btn-container a div h5{
        font-size: small !important;
    }

    .hero-section-action-btn-container a div h6{
        font-size: xx-small !important;
    }

    .notice-container div li{
        font-size: x-small !important;
    }

    /*Advertised content styling*/
    .advertised-content-container-header{
        width: 100% !important;
        padding: 1rem !important;

        display: grid !important;
        grid-template-columns: var(--grid-row-two-per-row) !important;
        gap: 1rem !important;
    }

    .advertised-content .img-caption{
        padding: 2rem !important;
    }

    .advertised-content-container-header .header-text-container h1{
        font-size: large !important;
    }
    
    .advertised-content-container-header .header-text-container h4, .advertised-content-container-header .header-text-container h5, .advertised-content .img-caption p{
        font-size: small !important;
    }

    /*End of advertised content styling*/

     /*Card views*/
     .menu-item-container{
        grid-auto-columns: 48% !important;
    }

     /*In page nav menu*/
     .in-page-top-nav-menu-container{
        grid-auto-columns: 30% !important;
    }

    .in-page-top-nav-menu-container a div img{
        max-width: 1.8rem !important;
    }

    .in-page-top-nav-menu-container a div h6{
        font-size: .5em !important;
    }

     .in-page-nav-menu-container{
        width: 99% !important;
        grid-template-columns: var(--grid-row-one-per-row) !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
     .in-page-nav-menu-container a div{
        padding: 0 5% !important;
     }

    .in-page-nav-menu-container a div img{
        max-width: 45px !important;
        min-width: 45px !important;
    }
    
    .in-page-nav-menu-container a div h6{
        font-size: smaller !important;
        padding-left: 2rem !important;
    }

    /*Shopping cart button*/
    .cart-btn-container button{
        padding: 5px !important;
    }

    .cart-btn-container button span{
        font-size: large !important;
    }

    .cart-btn-container h6{
        padding: 5px !important;
        width: 20px !important;
        height: 20px !important;

        transform: translate(100%, -50%) !important;
        font-size: 0.5em !important;
    }
  }